.empty-list {
  padding: 2rem;
  border: 1px solid var(--color-border);
  text-align: center;
}

.empty-list > .title {
  font-size: 1.3rem;
  font-weight: 400;
  padding: 1rem;
}

.empty-list > .subtitle {
  padding: 0 0 2rem 0;
}

.empty-list > div > a {
  margin-bottom: 0.8rem;
}
