@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

:root {
  --page-max-width: 900px;
  --color-text: #2b2b2b;
  --color-primary: #195a88;
  --color-primary-text: white;
  --color-secondary: #fff9d1;
  --color-gray: gray;
  --color-border: lightgray;
  --color-button-primary: #195a88;
  --color-button-primary-text: white;
  --color-button-default: lightgray;
  --color-button-default-text: var(--color-text);
  --color-danger: tomato;
  --color-danger-text: white;
  --color-white: white;
  --color-offwhite: #fbfbfb;
  --color-pageheader: gray;
  --font-default: 'Rubik', 'helvetica neue', helvetica, arial, sans-serif;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-default);
  text-align: center;
  color: var(--color-text);
}

body, h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
  font-family: var(--font-default);
  line-height: 1em;
}

ul {
  margin: 0;
  padding: 0;
}

input, textarea, select, button {
  font-family: var(--font-default);
  font-size: 1rem;
  line-height: 1em;
}

a, a:active, a:visited {
  color: var(--color-primary);
}

a, a:active, a:visited, a:hover {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:hover {
  background: var(--color-offwhite);
}

th {
  text-transform: uppercase;
  color: var(--color-gray);
  font-size: 0.9rem;
  font-weight: 500;
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-border);
}

td {
  border-bottom: 1px solid var(--color-border);
  padding: 1rem 0;
}

form label {
  display: block;
  margin-bottom: 0.3rem;
}

input, textarea, select {
  display: block;
  width: 100%;
  padding: 0.8em;
  border-radius: 4px;
  border: 1px solid var(--color-border);
  outline: 0;
}

button,
.button,
a.button {
  display: inline-block;
  background: var(--color-button-default);
  color: var(--color-button-default-text);
  padding: 0.8rem 1.8rem;
  border-radius: 4px;
  border: 1px solid var(--color-border);
  letter-spacing: 1px;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

button[type=submit], button.-primary, .button.-primary {
  background: var(--color-button-primary);
  color: var(--color-button-primary-text);
}

button[type=submit].-danger, button.-danger, .button.-danger {
  background: var(--color-danger);
  color: var(--color-danger-text);
}

button.-link, .button.-link {
  background: transparent;
  color: var(--color-primary);
  border: none;
}

.danger,
.danger:active,
.danger:visited,
.danger:hover {
  color: var(--color-danger);
}

.inner {
  margin: auto;
  max-width: var(--page-max-width);
  text-align: left;
  padding: 0 1rem;
}
